<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>Material Tracking</b><br><small>System</small></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
      <div class="form-group has-feedback">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-offset-4 col-xs-4">
          <%= f.submit 'Sign up', :class => 'btn btn-primary btn-block btn-flat' %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>



