<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Material Tracking</b><br><small>System</small></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

    <p class="login-box-msg">Sign in to start your session</p>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email/Username' %>
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Remember Me
            </label>
          </div>

          <%- if devise_mapping.recoverable? %>
            <%= link_to "Forgot password?", new_password_path(resource_name) %>
          <% end -%>

          <%- if devise_mapping.registerable? %>
            <%= link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-sm btn-default'  %>
          <% end -%>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit 'Sign In', :class => 'btn btn-success btn-block btn-flat' %>
        </div>
        <!-- /.col -->
      </div>

    <% end %>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

