<!DOCTYPE html>
<html>
  <head>
    <title>RailsSetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-green sidebar-mini">
    <% if user_signed_in? %>

      <div class="wrapper">
        <%= render 'dashboard/header' %>

        <%= render 'dashboard/sidebar' %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              <%= content_for?(:page_header) ? yield(:page_header) : "Page header" %>
              <small><%= content_for?(:page_sub_header) ? yield(:page_sub_header) : "" %></small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="<%= root_path %>"><i class="fa fa-home"></i> Home</a></li>
              <%= content_for?(:breadcrumb) ? yield(:breadcrumb) : "" %>
            </ol>
          </section>

          <!-- Main content -->
          <section class="content">

            <div id="flash_messages">
              <%= render 'dashboard/messages' %>
            </div>
            <%= content_for?(:top_actions) ? yield(:top_actions) : "" %>
            <%= yield %>
          </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

          <%= render 'dashboard/footer' %>
          <%= render 'dashboard/control_sidebar' %>

      </div><!-- ./wrapper -->

    <% else %>
      <%= yield %>
    <% end %>


  </body>
</html>
